.featured {
  background: #1C1C1C;
  color: white;
  border-radius: 8px;
  cursor: default;
  border: 2px solid #383838;
  font-size: 14px;
  width: 15vw;
  height: 17vw;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  margin: 20px;
  backdrop-filter: blur(5px);
  position: relative;
  overflow: hidden;
  transition: all 50ms;
}

.featured img {
  max-width: 15vw;
  height: 15vw;
  width: 15vw;
  transition: transform 0.1s;
}

.featured span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 14px;
  text-align: center;
  border-radius: 0 0 8px 8px;
  opacity: 1;
  transition: opacity 0.3s;
  box-sizing: border-box;
}


.featured:hover span {
    opacity: 1;
    }

   .featured:hover { 
    color: black;
    border: 2px solid #cc5850;

  } 

.featured:hover {
  color: black;
}

@media screen and (max-width: 768px) {
  .featured {
    background: transparent;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
    font-size: 14px;
    width: 10vh;
    height: 10vh;
    font-weight: bold;
    font-family: "Lexend", sans-serif;
    margin: 20px;
    backdrop-filter: blur(5px);
    position: relative;
    overflow: hidden;
    transition: all 50ms;
  }
}
