@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

body {
  background-color: #161616;
  color: #fff;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2 {
  color: white;
  width: 100%;
}

h1 {
  font-size: 10vh;
  font-weight: 200;
  margin-top: 10vh;
  text-align: center;
}

h3 {
  color: white;
  font-size: 2vh;
  font-weight: 900;
  margin-left: 7vw;
}

h2 {
  font-size: 20px;
  text-align: center;
}

header {
  font-size: 8vh;
  margin-bottom: 2vh;
  font-weight: 400;
  color: white;
  margin-left: 10vh;
  margin-top: 10vh;
  text-align: left;
}

.btn {
  background-color: #000000;
  color: white;
  border-radius: 30px;
  border: 2px solid transparent;
  font-size: 14px;
  width: 17vh;
  background: transparent;
  height: 17vh;
  margin: 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 50ms;
}

.btn img {
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  width: 100%;
  background-color: white;
  transition: transform 0.1s;
}

.btn img {
  width: 100%;
  height: auto;
  display: block;
}

.btn span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  padding: 10px;
  color: white;
  font-size: 14px;
  user-select: none;
  text-align: center;
  border-radius: 0 0 8px 8px;
  opacity: 0;
  transition: opacity 0.3s;
  box-sizing: border-box;
}

.btn:hover span {
  opacity: 1;
}

.btn:hover {
  color: black;
  border: 2px solid #cc5850;
}



.btn-favorite {
  position: absolute;
  top: 0;
  right: 0; 
  border: none;
  color: gold;
  cursor: pointer;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 10px;
  background-color: rgb(45, 45, 45);
  border-radius: 50%;
  z-index: 9;
}

.btn-favorite:hover {
  cursor: default;

}

.btn-favorite:active {
  opacity: 0;
}

.button {
  background-color: #cc5850;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  margin-left: 3vh;
  font-family: "Outfit", system-ui, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  margin-bottom: 30vh;
  bottom: 0;
  right: 0;
}

.button:hover {
  background-color: #9c413b;
  transform: translateY(-1px);
}

.button:active {
  background-color: #9c413b;
  transform: translateY(0);
}

p {
  font-size: 30px;
  color: #d8d8d8;
  width: 70%;
  font-weight: 900;
  font-size: 70px;
  font-family: "Outfit";
  text-align: center;
  margin-top: 25vh;
  margin-bottom: 1vh;
}

p1 {
  color: #cc5850;
  background-image: linear-gradient(to right, #cc5850, #f4bebe);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

p2 {
  color: #cc5850;
  background-image: linear-gradient(to left, #cc5850, #f4bebe);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

p3 {
  color: #cc5850;
  background-image: linear-gradient(to right, #eda1a1, #ffffff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.second-paragraph {
  color: #808080;
  font-size: 1.7vh;
  font-weight: 300;
  font-family: "Inter";
  margin-top: 10px;
  margin-bottom: 2vh;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 6vh;
  }

  .button-5 {
    margin-left: 5vh;
  }

  .ruby-image {
    display: none;
  }

  p {
    margin-left: 5vw;
    font-weight: 800;
    font-size: 40px;
    width: 70%;
  }

  .second-paragraph {
    width: 90%;
    margin-left: 5vw;
  }

  .game img {
    width: 200px;
    height: auto;
    border-radius: 10px;
  }
}

.footer {
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 20px 0;
  width: 100%;
}

.footer-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.ruby img {
  margin-top: 2vh;
  margin-left: 20vh;
}

.smallerlogo img {
  width: 0px;
}

.resources ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 20vw;
}

.resources li {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .smallerlogo img {
    width: 80px;
    height: 80px;
  }

  .ruby img {
    margin-top: 1vh;
    width: 1px;
    opacity: 0;
    margin-left: 2vw;
    height: 1px;
  }

  .resources ul {
    margin-bottom: 10px;
    font-size: 10px;
  }

  .resources li {
    margin-bottom: 10px;
    font-size: 10px;
  }

  .ruby img {
    margin-top: 2vh;
    margin-left: 2vw;
  }

  .resources ul {
    display: flex;
    margin-right: 10vh;
    text-align: center;
    flex-direction: column;
    text-align: center;
  }
}

ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 350ms;
}

ul li a:hover {
  color: #cc5850;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: #cc5850;
  border-radius: 5px;
}


 /* Search and dropdown */
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.input-container {
  position: relative;
  align-self: flex-start;
  width: 70%;
  margin-left: 8vh;
}

.dropdown-container {
  position: relative;
  align-self: flex-start;
  height: 40px;
  margin-left: 8vh;
  width: 20%;
  margin-bottom: 2vh;
  margin-right: 2vh;
  
}

.suggest-container {
  position: relative;
  align-self: flex-start;
  height: 40px;
  width: 10%;

}

#searchInput {
  background-color: #252525;
  font-family: "Inter";
  padding: 10px;
  font-size: 16px;
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 8px;
  outline: none;
  height: 30px;
  padding-left: 50px;

}


  .suggest {
  background-color: #252525;
  font-family: "Inter";
  padding: 10px;
  font-size: 16px;
  color: #fff;
  width: 2vh;
  border: none;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  height: 50px;
  padding-left: 50px;

}

.dropdown {
  width: 100%;
  background-color: #252525;
  font-family: "Inter";
  padding: 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 8px;
  outline: none;
  height: 30px;
  padding-left: 50px;
}

.dropdown {
  left: 10px;
  height: 50px;
}

.input-image,
.dropdown-image {
  position: absolute;
  top: 50%;
  width: 1.7vh;
}

.suggest-image {
  position: absolute;
  top: 50%;
  left: 17%;
  pointer-events: none;
  transform: translateY(-20%);
  width: 1.7vh;
}


.input-image {
  transform: translateY(-50%);
}

.dropdown-image {
  left: 5%;
  transform: translateY(-20%);
}




@media (max-width: 1060px) {




#searchInput {
  width: 100%;
}


.dropdown {
  width: 100%;

}

.suggest-container {
  position: relative;
  align-self: flex-start;
  height: 40px;
  margin-left: 8vh;
  width: 20%;
  margin-bottom: 2vh;
  margin-right: 2vh;
  margin-left: 8vh;
  
}

.input-container {
  position: relative;
  margin-right: 10px;
  display: block;
  margin-bottom: 2vh;
  margin-right: auto;
 height: 40px;
}


.container {
  width: 100%;
  flex-direction: column;
}

.input-image {
  width: 0px;
  opacity: 0;
}

.dropdown-container {
 display: block;
 margin-right: auto;
 margin-left: 8vh;
  height: 40px;
}
}






@media only screen and (max-width: 470px) {
  #searchInput {
    font-family: "Inter";
    padding: 0px 17px;
    padding: 10px;
    font-size: 16px;
    user-select: none;
    display: block;
    transition: all 350ms;
    font-weight: 500;
    margin-right: 3px;
    outline: none;
    width: 20vh;
    padding-left: 30px;
  }



  h6 {
    font-size: 9px;
    width: 90%;
  }
}

a {
  color: rgb(255, 175, 175);
  text-decoration: none;
  transition: all 350ms;
}

a:hover {
  color: #cc5850;
}
