.navbar {
    overflow: hidden;
    background-color: #373737;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 20px;
    margin-top: 10px;
    height: 55px;
    right: 20px;
    user-select: none;
    border-radius: 10px;
}

.navbar a {
    display: block;
    float: left;
    color: #fff;
    text-align: center;
    user-select: none;
}

.navbar button {
    background-color: transparent;
    border: none;
    user-select: none;
    padding: 0;
    margin: 5px 3px 3px; 
    margin-right: 6px;
}

.logo {
    background-color: transparent !important;
    transition: all 350ms;
    user-select: none;
}

.navbar button img {
    display: block;
    height: auto;
    transition: background-color 0.3s ease-in, color 0.1s ease-in;
    border-radius: 8px;
    padding: 8px;
    background-color: #1e1e1e;
}

.navbar button:hover img {
    background-color: #cc5850;
    color: #cc5850;
    cursor: pointer;
}

.navbar .navbar-right {
    float: right;
}


@media only screen and (max-width: 768px) {
    .navbar {
        left: 10px;
        right: 10px;
        height: auto;
        align-items: center;
        overflow-x: auto;
        white-space: nowrap;
    }
    


    .navbar button {
        margin-right: 3px;
        align-items: center;
    }


}