@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

.navbar {
    overflow: hidden;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #252525;
    background: rgba(34, 34, 34, 0.2);
    backdrop-filter: blur(5px);
    user-select: none;

}

.navbar a {
    display: block;
    float: left;
    color: #fff;
    text-align: center;
    user-select: none;
}

.nav-item {
    background-color: transparent;
    border: none;
    user-select: none;
    cursor: pointer;
    margin-right: 20px; 
    padding: 0;
    margin-top: 5vh;
}

.nav-item span {
    background-color: transparent;
    border: none;
    user-select: none;
    background: transparent;
    cursor: pointer;
    cursor: pointer;
    margin-right: 20px;
    padding-top: 5vh; 
}

.logo {
    background-color: transparent !important;
    margin-left: 11vh;
    margin-top: 0.7vh;
    border: none;
    cursor: pointer;
    user-select: none;
}

.nav-button {
    color: #fff;
    font-family: "Inter";
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 15px;
    transition: all 250ms;
    margin-top: 2vh;
}
.nav-button:hover {
    color: #cc5850;
    cursor: pointer;
    background-color: transparent;
    border: none;
    
}



.navbar .navbar-right {
    float: right;
}




@media only screen and (max-width: 815px) {
    .navbar {
        margin-left: 0;
        margin-right: 0;
        align-items: center;
        white-space: nowrap;
        display: flex; 
        justify-content: flex-start; 
    }

    .nav-button {
        margin-bottom: 1vh;
    }

    .logo {
        margin-left: 10px;
        margin-right: 10px;
    }
}


@media only screen and (max-width: 485px) {

    .navbar {
    overflow-x: auto;
}

}