@import url(themes.css);
@import url(cards.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap');

body {
    color: var(--text-color);
    background-color: #111111;
    background-image: var(--background);
    position: relative;
    height: 100vh;
    text-align: center;
    font-family: "Inter";
    background-size: cover;
    font-weight: 800;
    -webkit-background-size: cover;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
   
h1 , h2 , h3  {
    font-family: "Inter", "Lexend" sans-serif;
    font-weight: 800;
    margin-bottom: 10px;
}

h1  {
  font-family: "Inter", "Lexend" sans-serif;
  font-weight: 800;
  color: #d8c4d9;
}


h69  {
  font-family: "Inter", "Lexend" sans-serif;
  font-weight: 800;
  color: #d2e0ee;
}




h1 { font-size: 50px; }

#splash { font-size: 24px; }

p { font-size: 20px; }

h1 > span {
    font-family: "Inter", sans-serif;
    color: var(--accent);
}

.center-container {
    position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    text-align: center;
}

a, a:visited {
    color: var(--accent);
    text-decoration: none;
    transition: 0.4s all;
}

a:hover {
    text-decoration: underline;
    filter: brightness(80%);
}

button {
    color: var(--background);
    background-color: var(--accent);
    padding: 8px 15px;
    border: none;
    font-size: 18px;
    border-radius: 5px;   
    transition: 0.4s all;
}

.play { font-family: "Montserrat"; font-weight: 700; color: var(--background); }

button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.links {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.links .left,
.links .right {
    display: flex;
    font-size: 18px;
    margin-bottom: 10px;
}

.links a {
    margin-right: 25px;
    color: var(--text-color);
}

.links a:hover {
    text-decoration: underline;
    filter: brightness(100%);
}
.links .left {
    margin-left: 25px;
    justify-content: flex-start;
}

.links .right {
    justify-content: flex-end;
}

.gamecontainer {
    height: 99vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

#gameInfo {
    width: 25%;
    height: 100%;
  }
  
  #frame {
    width: 75%;
    height: 100%;
    border-radius: 10px;
    background-color: white;
  }
  #gameInfo .gameHeader {
    align-items: center;
    justify-content: center;
    margin: 25% 25px;
  }
  
  #gameInfo div img {
    aspect-ratio: 1 / 1;
    height: 75px;
    border-radius: 5px;
  }
  
  #gameInfo div h3 { margin-left: 15px; }
  
  #gameInfo { position: relative; }
  
  #gameInfo #menubtns {
    position: absolute;
    bottom: 15px;
    width: 100%;
  }
  
  #menubtns button {
    border: 3px solid white;
    font-family: "DM Sans";
    padding: 7px 15px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color: white;
    color: black;
    font-weight: bold;
    opacity: 0.7;
    transition: 0.4s all;
    margin: 5px 5px;
  }
  
  #menubtns button:hover {
    opacity: 1;
    scale: 1.1;
  }
  
  #gameInfo #gameDescription {
    margin: 15px;
  }


  .input-container {
    position: relative;
    width: 350px;
    user-select: none;
    margin-top: 5px;
  }
  
  .input-container img.input-image {
    position: absolute;
    left: 10px; 
    top: 50%;
    margin-left: 5px;
    user-select: none;
    transform: translateY(-50%);
    width: 19px;
    -webkit-user-drag: none;
    height: auto; 
  }
  

  
  .pxyinput:focus {
    border-radius: 8px;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }


  

 button.secondary img {
  height: 25px;
  width: 25px;
  margin-top: 5px;
  border-radius: 5px;
 }

#search {
background-color: #111;
transition: 0.4s border;
border-radius: 5px;
border: none;
font-size: 20px;
width: 500px;
height: 45px;
color: white;
text-align: center;
padding: 5px 15px;
margin: 5px auto;
}

 .frame {
  border-radius: 5px;
  background-color: rgb(35, 35, 35);
  display: block;
  margin: auto;
  border: none;
  height: calc(100vh - 55px);
  width: 100%;
}

.cardgroup {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}


.card img {
  height: 60%;
  margin-top: 15%;
  width: 60%;
  border-radius: 8px;
  transition: transform 0.1s;
  margin-bottom: 5px;
}

.card {
  background-color: #111111;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid transparent;
  font-size: 10px;
  width: 15vh;
  height: 15vh;
  font-weight: bold;
  font-family: "Lexend", sans-serif;
  margin: 20px;
  position: relative;
  overflow: hidden;
  transition: all 350ms;
}

.card:hover {
  background-color: #373737;
  
}