@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

:root {
  --text-color: white;
  --background: #1C1C1C;
  --accent: #EA4747;
  --accent-dark: #aa3333;
  --accent-light: #d87979;
  --background-light: #252525;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: "Inter", sans-serif, sans-serif;
  transition: background-color 0.5s, color 0.5s;
  cursor: default;
  margin: 0;
  font-family: "Inter", sans-serif, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  padding: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: var(--background-light);
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 5px;
}

::selection {
  background-color: var(--accent-dark);
  color: #fff;
}



h1,
h2 {
  color: var(--text-color);
  width: 100%;
}

h1 {
  font-size: 10vh;
  font-weight: 200;
  margin-top: 10vh;
  text-align: center;
}

h3 {
  color: var(--text-color);
  font-size: 2vh;
  font-weight: 900;
  margin-left: 7vw;
}

h2 {
  font-size: 20px;
  text-align: center;
}

.btn {
  background: transparent;
  border: 2px solid transparent;
  color: var(--text-color);
  border-radius: 2vh;
  font-size: 14px;
  width: 40.5vh;
  height: 27vh;
  margin: 0.8rem;
  cursor: pointer;
  position: relative;
  transition: all 350ms;
  overflow: hidden;
}

.btn img {
  width: 100%;
  height: 100%;
  user-select: none;
  position: absolute; 
  top: 0; 
  left: 0;
  display: block;
  background-color: white;
}

.btn span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 600;
  margin-top: 50%;
  font-family: "Inter", sans-serif, sans-serif;
  background: transparent;
  padding: 10px;
  color: var(--text-color);
  font-size: 14px;
  padding-top: 50%;
  user-select: none;
  text-align: center;
  opacity: 0;
  transition: all 350ms;
  box-sizing: border-box;
}

.btn:hover span {
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
}

.btn:hover {
  border: 2px solid var(--accent);
  transform: translateY(calc(-0.3rem));
}

.btn-favorite {
  position: relative;
  float: right; 
  border: none;
  border-radius: 25%; 
  font-family: 'Helvetica', sans-serif; 
  font-size: 20px;
  font-weight: 900;
  transition: all 350ms;
  color: var(--accent);
  background-color: transparent; 
  display: none;
  transform: rotate(90deg);
  margin: 3%;
  cursor: pointer;
  z-index: 9;
}

.btn:hover .btn-favorite {
  display: inline-block; 
  cursor: pointer;
}

.btn-favorite:hover {
  color: white;
}

.btn-favorite:active {
  opacity: 0;
}


.button {
  background-color: var(--accent-dark);
  border: 1px solid #000000;
  border-radius: 8px;
  color: var(--text-color);
  cursor: pointer;
  font-family: "Inter", sans-serif, system-ui, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 200ms;
  margin-bottom: 30vh;
}

.button:hover {
  background-color: var(--accent-dark);
  transform: translateY(calc(1rem - 1.1rem));
}


.buttoncloak {
  background-color: #272727;
  border: 1px solid #aeaeae;
  border-radius: 8px;
  color: var(--text-color);
  cursor: pointer;
  font-family: "Inter", sans-serif, system-ui, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 200ms;
  margin-bottom: 30vh;
}

.buttoncloak:hover {
  background-color: #404040;
  transform: translateY(calc(1rem - 1.1rem));
}

p {
  width: 70%;
  font-weight: 800;
  font-size: 70px;
  font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin-top: 25vh;
  margin-bottom: 1vh;
  color: var(--text-color);


}

p1 {
  color: transparent;
  background-image: linear-gradient(to bottom, var(--accent), var(--accent-light));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

p2 {
  color: transparent;
  background-image: linear-gradient(to top, var(--accent), var(--accent-light));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

p3 {
  color: transparent;
  background-image: linear-gradient(to top, var(--accent), var(--accent-light));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.second-paragraph {
  color: #EA4747;
  background-image: linear-gradient(to top, var(--text-color), var(--text-color));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.7vh;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin-top: 10px;
  margin-bottom: 2vh;
  width: 40%;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 6vh;
  }


  .ruby-image {
    display: none;
  }

  p {
    font-weight: 800;
    font-size: 40px;
    width: 70%;
  }

  .second-paragraph {
    width: 90%;
  }

  .game img {
    width: 200px;
    height: auto;
    border-radius: 10px;
  }
}

.footer {
  background-color: var(--background);
  text-decoration: none;
  border-top: 1px solid var(--accent);
  padding: 40px;
  font-size: 14px;
}

.footer-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
}

.ruby img {
  margin-top: 1vh;
  margin-left: 11vh;
  width: 29vh;
  height: 7vh;
}

.smallerlogo img {
  display: block;
}

.resources ul, .pages ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.smallerlogo img {
  display: none;
}

.resources, .pages {
  margin-right: 1vh; 
}

.resources li {
  margin-bottom: 10px;
  
  text-align: left;
}

.pages {
  align-items: right;
}

.resources ul {
  margin-right: 20vh;
}


.pages li {
  margin-bottom: 10px;
}

@media screen and (max-width: 669px) {
  .smallerlogo img {
    width: 80px;
    height: 80px;
    display: block;
  }

  .ruby img {
    display: none;
  }

  .resources ul, .pages ul {
    margin-bottom: 10px;
    font-size: 10px;
  }

  .resources li, .pages li {
    margin-bottom: 10px;
    font-size: 10px;
  }

  .resources ul {
    display: flex;
    margin-right: 11vh;
    text-align: center;
    flex-direction: column;
    text-align: center;
  }
}

ul li a {
  color: var(--text-color);
  text-decoration: none;
  transition: all 350ms;
}

ul li a:hover {
  color: var(--accent);
}





.container {
  display: flex;
  width: 100%;
  margin-top: 10vh;
  align-self: center;
  height: 50px;
}


.input-container {
  position: relative;
  align-self: flex-start;
  height: 100%;
  width: 70%;
  background-color: transparent;
  margin-left: 5%;
  transition: all 250ms;
}

.dropdown-container {
  position: relative;
  align-self: flex-start;
  height: 100%;
  transition: all 250ms;
  width: 27.8%;
  margin-bottom: 2vh;
  margin-right: 1vh;
  
}

.suggest-container {
  position: relative;
  align-self: flex-start;
  transition: all 250ms;
  height: 100%;
  cursor: pointer;
  margin-right: 10%;
  width: 3.2%;
}



#searchInput {
  background-color: var(--background-light);
  border: 2px solid #383838;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  width: 100%;
  height: 100%;
  outline: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding-left: 40px;
}

.dropdown {
  width: 100%;
  background-color: var(--background-light);
  font-family: "Inter", sans-serif;
  border: 2px solid #383838;
  font-size: 16px;
  color: var(--text-color);
  border-bottom-right-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  text-align: left;
  border-top-left-radius: 0px;
  outline: none;
  height: 100%;
  padding-left: 50px;
}

  .suggest {
  background-color: var(--background-light);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #fff;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: 2px solid #383838;
  height: 100%;
}

.input-container:hover {
  transform: translateY(calc(-0.1rem));
  
}

.dropdown-container:hover {
  transform: translateY(calc(-0.1rem));
  
}

.suggest-container:hover {
transform: translateY(calc(-0.1rem));
}



.input-image,
.dropdown-image {
  top: 50%;
  width: 1.7vh;
  pointer-events: none;
}

.suggest-image {
  position: absolute;
  top: 50%;
  pointer-events: none;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.7vh;
  cursor: pointer;
}


.input-image {
  transform: translateY(-50%);
  display: block;
  position: absolute;
  left: 0;
  pointer-events: none;
  margin-left: 2%;
  width: 1.7vh;
}

.dropdown-image {
  left: 5%;
  position: absolute;
  transform: translateY(-50%);
}




@media (max-width: 400px) {
  .container {
    width: 100%;
  }

  .input-container {
    width: 50%;
    margin: 0vh;
    margin-right: 0px;
    margin-left: 8vh;
  }
  
  .dropdown-container {
    width: 5%;
    margin: 0vh;
    margin-right: 4vh;
   }

   .suggest-container {
    width: 2%;
  }
   .dropdown-image {
    left: 58%;
    position: absolute;
    transform: translateY(-50%);
  }

  .suggest-image {
    left: 50%;
  }



}




  h6 {
    font-size: 9px;
    width: 90%;
  }


a {
  color: var(--accent-light);
  text-decoration: none;
  transition: all 350ms;
}

a:hover {
  color: var(--accent);
}


.settings {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.settings label {
  display: block;
  margin: 10px 0 5px;
}


.section {
  border: transparent;
  border-radius: 8px;
  padding: 20px;
  background-color: var(--background-light);
  border: none;
  margin-bottom: 20px;
  margin: 5px;
  color: var(--text-color);
  width: 50%;
  transition: all 250ms;
  border: 1px solid var(--accent);
  }
  
  .section label {
    margin-bottom: 10px;
    }
  
  .section:hover {
    transform: translateY(calc(1rem - 1.1rem));
  }

.settings-button {
  padding: 10px 15px;
  background-color: var(--accent);
  color: var(--text-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  transition: all 250ms;
}

.settings-button:hover {
  transform: translateY(calc(1rem - 1.1rem));
}

.preset-buttons img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  transition: all 250ms;
}

.preset-buttons img:hover {
  transform: translateY(calc(1rem - 1.1rem));
}







.settings input {
  background-color: var(--background-light);
  border: 1px solid var(--accent);
  border-radius: 8px;
  font-family: "Inter", sans-serif, sans-serif;
  font-size: 16px;
  color: var(--text-color);
  width: 90%; 
  height: 40px; 
  padding-left: 20px;
  margin: 5px 0; 
  box-sizing: border-box;
  outline: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#theme-select {
  border-radius: 8px;
  background-color: var(--background);
  font-family: "Inter", sans-serif, sans-serif;
  font-size: 16px;
  color: var(--text-color);
  width: 50%;
  height: 40px; 
  overflow: hidden;
  border: 1px solid var(--accent);
  outline: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  transition: all 250ms;
  text-align: center;
  font-size: 14px;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}



#theme-select:hover {
  transform: translateY(calc(1rem - 1.2rem));
}










#xpDisplay, #levelDisplay {
  text-align: center;
  z-index: 9999;
  font-size: 1.5em;
  margin-top: 10vh;
  background-image: linear-gradient(to left, var(--text-color), var(--accent));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 10px 0;
}

#levelUpNotification {
  text-align: center;
  z-index: 9999;
  font-size: 1.5em;
  margin-top: 10vh;
  background-image: linear-gradient(to left, var(--text-color), var(--accent));
  color: transparent;
  margin: 10px 0;

}

.level {
  display: block;
}

#xpDisplay {
  text-align: center;
  z-index: 9999;
  font-size: 12px;
  color: var(--text-color);
  margin-top: 10vh;
  margin: 10px 0;
}

#levelDisplay {
  text-align: center;
  z-index: 9999;
  font-size: 20px;
  margin-top: 10vh;
  font-weight: 700;
  background-image: linear-gradient(to left, var(--text-color), var(--accent));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 10px 0;
}


#levelUpNotification {
  background-color: transparent;
  color: var(--text-color);
  box-shadow: 0px 2px 25px 0px var(--accent);
  padding: 10px;
  transition: linear;
  border: none;
  position: fixed;
  font-family: "Inter", sans-serif;
  z-index: 9999;
  top: 20px;
  font-size: 14px;
  left: 50%;
  font-weight: 700;
  transform: translateX(-50%);
  border-radius: 8px;
}

 .user-container {
    padding: 10px;
    background-color: var(--background-light);
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    border-radius: 8px;
    border: 1px solid var(--accent);
    width: 60%;
    transition: all 250ms;
}

.user-container:hover {
  transform: translateY(calc(1rem - 1.2rem));

}

.user {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}


user-label {
    width: 15vh;
    height: 15vh;
}

.settings-pfp {
    width: 15vh;
    height: 15vh;
    flex-shrink: 0;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
    border: 3px solid transparent;
    transition: all 250ms;
}

.settings-pfp:hover {
  border: 3px solid var(--accent);
  opacity: 0.6;
}


.user span {
    font-weight: bold;
    cursor: pointer;
    font-size: 60px; 
    margin-right: 10px;
}

.level {
    display: block;
    margin-top: 5px; 
}

.user span:hover {
    cursor: text;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--text-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--accent);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}