@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

:root {
  --text-color: white;
  --background: #1C1C1C;
  --accent: #EA4747;
  --accent-dark: #aa3333;
  --accent-light: #d87979;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  transition: background-color 0.5s, color 0.5s;
  margin: 0;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  padding: 0;
}



h1,
h2 {
  color: var(--text-color);
  width: 100%;
}

h1 {
  font-size: 10vh;
  font-weight: 200;
  margin-top: 10vh;
  text-align: center;
}

h3 {
  color: var(--text-color);
  font-size: 2vh;
  font-weight: 900;
  margin-left: 7vw;
}

h2 {
  font-size: 20px;
  text-align: center;
}

.btn {
  background: transparent;
  border: 2px solid transparent;
  color: var(--text-color);
  border-radius: 16px;
  font-size: 14px;
  width: 20vh;
  height: 20vh;
  margin: 0.8rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 450ms;
}

.btn img {
  width: 100%;
  height: 100%;
  user-select: none;
  position: absolute; 
  top: 0; 
  left: 0;
  display: block;
  background-color: white;
}

.btn span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 600;
  margin-top: 50%;
  font-family: "Inter", sans-serif;
  background: transparent;
  padding: 10px;
  color: white;
  font-size: 14px;
  padding-top: 50%;
  user-select: none;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
  box-sizing: border-box;
}

.btn:hover span {
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
}

.btn:hover {
  color: black;
  border: 2px solid var(--accent);
}

.btn-favorite {
  position: relative;
  float: right; 
  border: none;
  border-radius: 25%; 
  font-family: 'Helvetica', sans-serif; 
  font-size: 20px;
  font-weight: 900;
  transition: all 350ms;
  color: var(--accent);
  background-color: rgba(0, 0, 0, 0.6); 
  display: none;
  transform: rotate(90deg);
  width: 30px;
  height: 30px;
  margin: 3%;
  cursor: pointer;
  z-index: 9;
}

.btn:hover .btn-favorite {
  display: inline-block; 
  cursor: pointer;
}

.btn-favorite:hover {
  border-radius: 50%;
}

.btn-favorite:active {
  opacity: 0;
}


.button {
  background-color: var(--accent-dark);
  border: 1px solid #000000;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-family: "Inter", system-ui, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 200ms;
  margin-bottom: 30vh;
}

.button:hover {
  background-color: var(--accent-dark);
  transform: translateY(calc(1rem - 1.1rem));
}


p {
  width: 70%;
  font-weight: 800;
  font-size: 70px;
  font-family: "Outfit";
  text-align: center;
  margin-top: 25vh;
  margin-bottom: 1vh;
  color: var(--text-color);


}

p1 {
  color: var(--accent);
  background-image: linear-gradient(to bottom, var(--accent), var(--accent-light));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

p2 {
  color: #EA4747;
  background-image: linear-gradient(to top, var(--accent), var(--accent-light));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

p3 {
  color: #EA4747;
  background-image: linear-gradient(to top, var(--accent), var(--accent-light));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.second-paragraph {
  color: #EA4747;
  background-image: linear-gradient(to top, var(--text-color), var(--text-color));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1.7vh;
  font-weight: 400;
  font-family: "Inter";
  margin-top: 10px;
  margin-bottom: 2vh;
  width: 40%;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 6vh;
  }


  .ruby-image {
    display: none;
  }

  p {
    font-weight: 800;
    font-size: 40px;
    width: 70%;
  }

  .second-paragraph {
    width: 90%;
  }

  .game img {
    width: 200px;
    height: auto;
    border-radius: 10px;
  }
}

.footer {
  background-color: #222222;
  text-decoration: none;
  padding: 40px;
  font-size: 14px;
}

.footer-content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
}

.ruby img {
  margin-top: 1vh;
  margin-left: 20vh;
  width: 29vh;
  height: 7vh;
}

.smallerlogo img {
  width: 0px;
}

.resources ul, .pages ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.resources, .pages {
  margin-right: 1vh; 
}

.resources li {
  margin-bottom: 10px;
  text-align: left;
}

.pages {
  align-items: right;
}

.resources ul {

  margin-right: 20vh;
}


.pages li {
  margin-bottom: 10px;
}

@media screen and (max-width: 1002px) {
  .smallerlogo img {
    width: 80px;
    height: 80px;
  }

  .ruby img {
    margin-top: 1vh;
    width: 1px;
    opacity: 0;
    margin-left: 2vw;
    height: 1px;
  }

  .resources ul, .pages ul {
    margin-bottom: 10px;
    font-size: 10px;
  }

  .resources li, .pages li {
    margin-bottom: 10px;
    font-size: 10px;
  }

  .ruby img {
    margin-top: 2vh;
    margin-left: 2vw;
  }

  .resources ul {
    display: flex;
    margin-right: 10vh;
    text-align: center;
    flex-direction: column;
    text-align: center;
  }
}

ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 350ms;
}

ul li a:hover {
  color: var(--accent);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #1C1C1C;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 5px;
}



.container {
  display: flex;
  width: 100%;
  margin-top: 10vh;
  height: 50px;
}


.input-container {
  position: relative;
  align-self: flex-start;
  height: 100%;
  width: 70%;
  background-color: transparent;
  margin-left: 5%;
}

.dropdown-container {
  position: relative;
  align-self: flex-start;
  height: 100%;
  width: 27.8%;
  margin-bottom: 2vh;
  margin-right: 1vh;
  
}

.suggest-container {
  position: relative;
  align-self: flex-start;
  height: 100%;
  margin-right: 10%;
  width: 3.2%;
}



#searchInput {
  background-color: #252525;
  border: 2px solid #383838;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  font-family: "Inter";
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  width: 100%;
  height: 100%;
  outline: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding-left: 40px;
}

.dropdown {
  width: 100%;
  background-color: #252525;
  font-family: "Inter";
  border: 2px solid #383838;
  font-size: 16px;
  color: #fff;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  text-align: left;
  border-top-left-radius: 0px;
  outline: none;
  height: 100%;
  padding-left: 50px;
}

  .suggest {
  background-color: #252525;
  font-family: "Inter";
  font-size: 16px;
  color: #fff;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: 2px solid #383838;
  height: 100%;
  transition: all 250ms;
}

#searchInput:hover {
  background-color: #303030;
  border: 2px solid #474747;
}

.dropdown:hover {
  background-color: #303030;
  border: 2px solid #474747;
}

.suggest:hover {
  background-color: #303030;
  border: 2px solid #474747;
}




.input-image,
.dropdown-image {
  top: 50%;
  width: 1.7vh;
  pointer-events: none;
}

.suggest-image {
  position: absolute;
  top: 50%;
  pointer-events: none;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.7vh;
}


.input-image {
  transform: translateY(-50%);
  position: absolute;
  pointer-events: none;
  left: 1%;
  width: 1.7vh;
}

.dropdown-image {
  left: 5%;
  position: absolute;
  transform: translateY(-50%);
}




@media (max-width: 630px) {





  .container {
    width: 100%;
  }
  

  .input-container {
    width: 50%;
    margin: 0vh;
    margin-right: 0px;
    margin-left: 8vh;
  }
  
  .dropdown-container {
    width: 5%;
    margin: 0vh;
    margin-right: 4vh;
   }

   .suggest-container {
    width: 2%;
  }
   .dropdown-image {
    left: 58%;
    position: absolute;
    transform: translateY(-50%);
  }

  .suggest-image {
    left: 50%;
  }



}




  h6 {
    font-size: 9px;
    width: 90%;
  }


a {
  color: var(--accent-light);
  text-decoration: none;
  transition: all 350ms;
}

a:hover {
  color: var(--accent);
}


.settings {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.settings label {
  display: block;
  margin: 10px 0 5px;
}

.settings button {
  padding: 10px 15px;
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  transition: all 250ms;
}

.settings button::hover {
  transform: translateY(calc(1rem - 1.1rem));
}

.preset-buttons {
  margin: 20px 0;
}

.preset-buttons {
  margin: 20px 0;
}
.preset-buttons img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  transition: all 250ms;
}

.preset-buttons img:hover {
  transform: translateY(calc(1rem - 1.1rem));
}

.panic-button {
  padding: 10px 15px;
  background-color: var(--accent);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.panic-button:hover {
  transform: translateY(calc(1rem - 1.1rem));
}

.section {
border: transparent;
border-radius: 8px;
padding: 20px;
background-color: var(--background);
border: 2px solid #1C1C1C;
margin-bottom: 20px;
margin: 5px;
width: 50%;
}

.section label {
display: block;
margin-bottom: 10px;
}

.settings input {
  background-color: #252525;
  border: 2px solid #383838;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #fff;
  width: 300px; 
  height: 40px; 
  padding-left: 40px;
  margin: 5px 0; 
  box-sizing: border-box;
  outline: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#theme-select {
  background-color: #252525;
  border: 2px solid #383838;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--text-color);
  width: 300px; 
  background-color: var(--background);
  height: 40px; 
  padding-left: 40px;
  margin: 5px 0; 
  box-sizing: border-box;
  outline: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


#xpDisplay, #levelDisplay, #levelUpNotification {
  text-align: center;
  z-index: 9999;
  font-size: 1.5em;
  margin-top: 10vh;
  color: var(--text-color);
  margin: 10px 0;
}

#levelUpNotification {
  display: none;
  background-color: #1C1C1C;
  color: rgb(255, 255, 255);
  padding: 10px;
  position: fixed;
  font-family: "Inter";
  z-index: 9999;
  top: 20px;
  left: 50%;
  font-weight: 700;
  transform: translateX(-50%);
  border-radius: 5px;
}
